@{
	var controllers = new string[]
	{
		"Home",
		"Explore",
		"Favorites",
		"MyPlants",
		"About",
		"Contacts"
	};

	var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();

	foreach (var controllerName in controllers)
	{
		var isActive = (currentController == controllerName) ? "active" : "";
		<li><a asp-controller="@controllerName" asp-action="Index" class="@isActive">@controllerName</a></li>
	}
}