@{
    var controllerDisplayNames = new Dictionary<string, string>
    {
        { "Home", "Home" },
        { "Explore", "Explore" },
        { "Favorites", "Favorites" },
        { "MyPlants", "My Plants" },
        { "About", "About" },
        { "Contacts", "Contacts" }
    };

    var currentController = ViewContext.RouteData.Values["Controller"]?.ToString();

    foreach (var (controllerName, displayName) in controllerDisplayNames)
    {
        var isActive = (currentController == controllerName) ? "active" : "";
        <li><a asp-controller="@controllerName" asp-action="Index" class="@isActive">@displayName</a></li>
    }
}