<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/TestBootstrap.styles.css" asp-append-version="true" />

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css" />
	<link rel="stylesheet" href="~/css/magnific-popup.css" />
	<link rel="stylesheet" href="~/css/owl.carousel.min.css" />

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="~/css/style.css" />
</head>
	<body>
		<!-- Page Preloder -->
		<div id="preloder">
			<div class="loader"></div>
		</div>
		<!-- Main section start -->
		<div class="main-site-warp">
			<div class="site-menu-warp">
				<div class="close-menu">x</div>
				<!-- Main menu -->
				<ul class="site-menu">
					<partial name="_ControllerHelperPartial" />
				</ul>
			</div>
			<header class="header-section">
				<div class="nav-switch">
					<i class="fa fa-bars"></i>
				</div>
				<!-- Top Icons -->
				<div class="header-social">
					<partial name="_LoginPartial" />
				</div>
			</header>
			@RenderBody()
		</div>
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
		<script src="~/js/jquery-3.2.1.min.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
		<script src="~/js/owl.carousel.min.js"></script>
		<script src="~/js/jquery.nicescroll.min.js"></script>
		<script src="~/js/circle-progress.min.js"></script>
		<script src="~/js/jquery.magnific-popup.min.js"></script>
		<script src="~/js/main.js"></script>
		@await RenderSectionAsync("Scripts", required: false)
	</body>
</html>
