@using Microsoft.AspNetCore.Identity
@inject ILayoutService service

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div style="font-family: 'Open Sans', serif; font-weight: 500">

	@if (SignInManager.IsSignedIn(User))
	{
		<div class="d-flex align-items-center">

			@if (User.IsInRole(Admin))
			{
				<a asp-controller="Plant" asp-action="Add">ADD PLANT</a>
				<a asp-controller="Pet" asp-action="Add">ADD PET</a>
			}
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark" style="padding-left: 0px; padding-top:5px; padding-bottom:5px; font-family: 'Open Sans', serif; font-size: 18px; font-weight: 500;">LOGOUT</button>
			</form>
			@{
				var userTier = await service.FindUsersTierByIdAsync(User.Id());
				var userPicture = await service.FindUsersPictureByIdAsync(User.Id());

				if (userTier != null)
				{
					var tier = (int)userTier;
					<a asp-area="Identity" asp-page="/Account/Manage/Email"><img src="~/img/tiers/@(tier).png"></a>
				}
				if (userPicture != null)
				{
					<img class="rounded-circle shadow-1-strong me-3"
						 src="@userPicture" width="44" height="44" />
				}
			}
		</div>
	}
	else
	{
		<a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
		<a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>

		<a asp-area="Identity" asp-page="/Account/Manage/Email"><img src="~/img/tiers/0.png"></a>
	}
</div>
