@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject IRepository repository

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div style="font-family: 'Open Sans', serif; font-weight: 500">

	@if (SignInManager.IsSignedIn(User))
	{
		<div class="d-flex align-items-center">
			<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
				<button type="submit" class="nav-link btn btn-link text-dark">LOGOUT</button>
			</form>
			@{
				var user = await repository.FindByIdAsync<ApplicationUser>(User.FindFirstValue(ClaimTypes.NameIdentifier));
				var tier = (int)user.Tier;
			}
			<a href=""><img src="~/img/tiers/@(tier).png"></a>
		</div>
	}
	else
	{
		<a asp-area="Identity" asp-page="/Account/Register">REGISTER</a>
		<a asp-area="Identity" asp-page="/Account/Login">LOGIN</a>

		<a href=""><img src="~/img/tiers/0.png"></a>
	}
</div>
