@model PagingViewModel

<nav aria-label="...">
	<ul class="pagination justify-content-center">
		<li class="page-item @if(!Model.HasPreviousPageNumber){<text>disabled</text>}">
			<a class="page-link" asp-route-id="@Model.PreviousPageNumber">Previous</a>
		</li>
		<li class="page-item active" aria-current="page">
			<span class="page-link">
				@Model.PageNumber
				<span class="sr-only">@Model.PageNumber</span>
			</span>
		</li>
		  <li class="page-item @if(!Model.HasNextPageNumber){<text>disabled</text>}">
            <a class="page-link" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
	</ul>
</nav>

<br>