<div class="main-sidebar">
	<div class="mb-warp">
		<a class="site-logo">
			<h2>Folia</h2>
			<p>For all of the green thumb wannabes</p>
		</a>
		<div class="about-info">
			<h3 style="font-family:'Playfair Display'">Ready to find the perfect plants for your space?</h3>
			<p>
				Browse our selection today and find the ideal plants to fit your space and lifestyle.
				<br />From low-maintenance succulents to lush fiddle leaf figs, we have something for everyone.
			</p>
		</div>
		<ul class="contact-info">
			<li><a href="mailto:contactme@myemail.com">@AdminMail</a></li>
		</ul>
		<a href="About" class="site-btn">see more <img src="~/img/icons/arrow-right.png" alt=""></a>
	</div>
</div>