<div class="main-sidebar">
	<div class="mb-warp">
		<a href="index.html" class="site-logo">
			<h2>Plant</h2>
			<p>Photography Studio</p>
		</a>
		<div class="about-info">
			<h2>My name is Michael Smith.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus libero mauris, bibendum eget sapien ac, ultrices rhoncus ipsum. Donec nec sapien in urna fermentum ornare. Morbi vel ultrices leo. Sed eu turpis eu arcu vehicula fringilla ut vitae orci. Suspendisse maximus malesuada  </p>
		</div>
		<ul class="contact-info">
			<li>1525  Boring Lane, Los Angeles, CA</li>
			<li>+34 56672 9984 22</li>
			<li><a href="mailto:contactme@myemail.com">contactme@myemail.com</a></li>
		</ul>
		<a href="About" class="site-btn">see more <img src="~/img/icons/arrow-right.png" alt=""></a>
	</div>
</div>