@page
@model AccessDeniedModel
@{
	ViewData["Title"] = "Access denied";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<div class="row d-flex align-items-center justify-content-center">
			<h1 class="text-center">@ViewData["Title"]</h1>
			<p></p>
			<p></p>
			<div class="text-center">
				<h4 class="text-danger">You do not have access to this resource.</h4>
			</div>
		</div>
	</div>
</div>
