@page
@model ForgotPasswordModel
@{
	ViewData["Title"] = "Forgot your password?";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<div class="row d-flex align-items-center justify-content-center">
			<h1 class="text-center">@ViewData["Title"]</h1>
			<p></p>
			<h2 class="text-center">Enter your email.</h2>
			<div class="col-md-4">
				<p></p>
				<p></p>
				<form method="post">
					<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
					<div class="form-floating mb-3">
						<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
						<label asp-for="Input.Email" class="form-label"></label>
						<span asp-validation-for="Input.Email" class="text-danger"></span>
					</div>
					<button type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #d8c269">Reset Password</button>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
