@page
@model RegisterConfirmationModel
@{
	ViewData["Title"] = "Register confirmation";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<h1 class="text-center">@ViewData["Title"]</h1>
		<div class="row d-flex align-items-center justify-content-center">
			<p class="text-center">
				Please check your email to confirm your account.
			</p>
		</div>
	</div>
</div>
