@{
	if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
	{
		Layout = parentLayout.ToString();
	}
	else
	{
		Layout = "/Areas/Identity/Pages/_Layout.cshtml";
	}
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<p></p>
		<p></p>
		<h2>Manage your account</h2>
		<p></p>
		<p></p>

		<div>
			<p></p>
			<div class="row">
				<div class="col-md-3">
					<partial name="_ManageNav" />
				</div>
				<div class="col-md-9">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	@RenderSection("Scripts", required: false)
}
