@{
	ViewData["Title"] = "About";
}

<div class="container">
	<div class="site-content-warp">
		<partial name="_SideBarPartial" />
		<div class="page-section about-page">
			<div class="about-section">
				<div>
					<a href="#"><img src="~/img/aboutPage.jpg" alt=""></a>
				</div>
				<div class="row m-0 milestones">
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>25</h2>
							<div class="milestone-info">
								<h5>Plants</h5>
								<p>Nature Photography</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>16</h2>
							<div class="milestone-info">
								<h5>Photograps taken</h5>
								<p>Nature Photography</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>60</h2>
							<div class="milestone-info">
								<h5>Weddings/Year</h5>
								<p>Happy Couples</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>37</h2>
							<div class="milestone-info">
								<h5>Users</h5>
								<p>Thank you</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
