@model AboutViewModel
@{
	ViewData["Title"] = "About";
}

<div class="container">
	<div class="site-content-warp">
		<partial name="_SideBarPartial" />
		<div class="page-section about-page">
			<div class="about-section">
				<div>
					<a href="#"><img src="~/img/aboutPage.jpg" alt=""></a>
				</div>
				<div class="row m-0 milestones">
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>@Model.PlantsCount</h2>
							<div class="milestone-info">
								<h5>Plants</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>@Model.UsersCount</h2>
							<div class="milestone-info">
								<h5>Users</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>@Model.RegionsCount</h2>
							<div class="milestone-info">
								<h5>Cities</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 p-0">
						<div class="milestone">
							<h2>@Model.CommentsCount</h2>
							<div class="milestone-info">
								<h5>Comments</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
