@model IEnumerable<PlantEditOrAddViewModel>
@{
	ViewData["Title"] = "Explore";
}

<div class="container">
	<div class="site-content-warp" style="padding-left: 0; padding-bottom: 10px;">
		<div>
			<div class="search-bar" style="padding-bottom: 15px; padding-top: 15px;  text-align: center;">
				<input type="text" placeholder="Search...">
				<button type="submit">Search</button>
			</div>
		</div>
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-4">
					<div class="portfolio-item">
						<img src="@item.ImageUrl" alt="#">
						<p></p>
						<div style="display: flex; justify-content: space-between;">
							<h5 class="text-left">@item.Name</h5>
							<div style="display: flex; justify-content: space-between;">
								<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								<a href="#"><img src="~/img/icons/see-more.png" alt=""></a>
							</div>
						</div>
						<p>@item.ScientificName</p>
					</div>
				</div>
			}
		</div>
	</div>
</div>