@model PlantsAllViewModel
@{
	ViewData["Title"] = "Favorite Plants";
}

<div class="container">
	<div class="site-content-warp" style="padding-left: 0; padding-bottom: 10px;">
		<div>
			<div class="row">
				@foreach (var item in Model.AllPlants)
				{
					<div class="col-md-4">
						<div class="portfolio-item">
							<img src="@item.ImageUrl" alt="#">
							<p></p>
							<div style="display: flex; justify-content: space-between; padding-left:30px; padding-right:30px;">
								<h5 class="text-left">@item.Name</h5>
								<div style="display: flex; justify-content: space-between;">
									<a class="favorite-btn"><img src="~/img/icons/heart-outline.png"></a>
									<a asp-controller="Comment" asp-action="Index"><img src="~/img/icons/see-more.png"></a>
								</div>
							</div>
							<p style="padding-left:30px;">@item.ScientificName</p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>

	<partial name="_PagingPartial" />

	@*dobavi da moje da se maha ot lubimi*@
