@{
	ViewData["Title"] = "Favorites";
}

<body>
	<div class="container">
		<div class="site-content-warp" style="padding-left: 0;">
			<!-- Page start -->
			<div class="page-section portfolio-page">
				<div class="portfolio-section">
					<div class="row">
						@for (int i = 0; i < 20; i++)
						{
							<div class="col-md-4">
								<div class="portfolio-item">
									<img src="/img/portfolio/@(i % 3 + 2).jpg" alt="#">
									<p></p>
									<div style="display: flex; justify-content: space-between;">
										<h5 class="text-left">Ice Cold Love</h5>
										<div style="display: flex; justify-content: space-between;">
											<a href="#"><img src="~/img/icons/heart-filled.png" alt=""></a>
											<a href="#"><img src="~/img/icons/see-more.png" alt=""></a>
										</div>
									</div>
									<p>Nature Photography</p>
								</div>
							</div>
						}
					</div>
				</div>
				<!-- Page end -->
			</div>
		</div>
	</div>
</body>
