@{
	ViewData["Title"] = "No Favorite Plants";
}

<div class="site-content-warp" style="padding-left: 0; display: flex; justify-content: center; align-items: center;">
	<h3 class="text-center" style="font-family:'Playfair Display';">You don't have any favorite plants added yet</h3>
</div>
