/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
    height: 100%;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #242424;
    font-weight: 700;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 13px;
    color: #242424;
    line-height: 2;
}

img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
    text-align: center;
}

    .section-title h2 {
        font-size: 36px;
    }

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 105px;
    padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
    color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

.elements-section {
    padding-right: 30px;
    height: 100%;
}

.element {
    margin-bottom: 70px;
}

    .element .el-title {
        margin-bottom: 40px;
    }

    .element .container {
        margin-left: -15px;
    }

/* search */
.search-container {
    text-align: left;
    margin-top: 100px;
}

.search-bar {
    display: inline-block;
}

    .search-bar input[type="text"] {
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
    }

    .search-bar button {
        padding: 8px 15px;
        background-color: #d8c269;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

/* buttons */

.site-btn {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    min-width: 167px;
    padding: 19px 35px;
    text-transform: uppercase;
    color: #242424;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    border: 2px solid #e1e1e1;
    background: transparent;
}

    .site-btn:hover {
        color: #242424;
    }

    .site-btn img {
        margin-left: 15px;
    }

    .site-btn.sb-solid {
        background: #242424;
        border-color: #242424;
        color: #fff;
    }

        .site-btn.sb-solid:hover {
            color: #fff;
        }

    .site-btn.sb-dark {
        border-color: #242424;
    }

/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000;
}

.loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
    -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

/* Accordion */

.accordion-area .panel {
    margin-bottom: 19px;
}

.accordion-area .panel-header.active .panel-link {
    color: #fff;
    background-color: #242424;
    border-color: #000;
}

    .accordion-area .panel-header.active .panel-link.collapsed {
        color: #242424;
        background-color: transparent;
        border-color: #e1e1e1;
    }

.accordion-area .panel-link:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 10px;
    right: 19px;
    top: 50%;
    margin-top: -5px;
    margin-left: -4px;
    background-image: url("../img/arrow-down.png");
    background-repeat: no-repeat;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.accordion-area .panel-header.active .panel-link:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion-area .panel-header.active .panel-link.collapsed:after {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.accordion-area .panel-link {
    text-align: left;
    background-color: transparent;
    position: relative;
    width: 100%;
    padding: 17px 40px;
    padding-left: 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #212121;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;
    display: block;
    border: 2px solid #e1e1e1;
    -webkit-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
}

.accordion-area .panel-body p {
    margin-bottom: 0;
    padding-top: 20px;
}

.accordion-area .panel-body {
    padding: 0 5px;
}

/* Tab */

.tab-element .nav-tabs {
    border-bottom: none;
    margin-bottom: 25px;
}

.tab-element .nav-item {
    margin-right: 10px;
    margin-bottom: 10px;
}

.tab-element .nav-tabs .nav-link {
    border: 2px solid #e1e1e1;
    text-align: left;
    background-color: transparent;
    border-radius: 0;
    position: relative;
    width: 100%;
    padding: 17px 30px;
    font-size: 14px;
    text-transform: uppercase;
    color: #323232;
    font-weight: 700;
    line-height: 1.3;
    cursor: pointer;
}

.tab-element .nav-tabs .nav-item:last-child {
    margin-right: 0;
}

.tab-element .nav-tabs .nav-link.active {
    background: #242424;
    color: #fff;
    border-color: #242424;
}

.tab-element .tab-pane p {
    margin-bottom: 0;
}

/* circle progress  */

.circle-item-warp {
    margin-bottom: 30px;
    overflow: hidden;
}

.circle-progress {
    float: left;
    margin-right: 10px;
}

    .circle-progress canvas {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .circle-progress .circle-warp {
        float: left;
        margin-right: 20px;
    }

    .circle-progress h2 {
        padding-bottom: 18px;
        overflow: hidden;
        font-size: 72px;
        font-family: "Playfair Display", serif;
        line-height: 1;
        font-weight: 900;
        position: relative;
    }

        .circle-progress h2 span {
            font-size: 40px;
            position: relative;
            top: -30px;
        }

.circle-progress-text {
    padding-top: 15px;
}

    .circle-progress-text h5 {
        font-weight: 700;
    }

    .circle-progress-text p {
        margin-bottom: 0;
        color: #828282;
    }

/* Icons box  */

.icon-box {
    margin-bottom: 30px;
}

    .icon-box .ib-head {
        overflow: hidden;
        display: block;
        margin-bottom: 20px;
    }

    .icon-box .ib-icon {
        float: left;
        width: 64px;
    }

    .icon-box h5 {
        padding-top: 5px;
        overflow: hidden;
    }

/*------------------
Main Site warp
 ---------------------*/

.main-site-warp {
    height: 100%;
    width: 100%;
    position: relative;
}

    .main-site-warp.push-side {
        overflow: hidden;
    }

        .main-site-warp.push-side .header-section {
            -webkit-transform: translateX(614px);
            transform: translateX(614px);
        }

        .main-site-warp.push-side .site-content-warp {
            -webkit-transform: translateX(614px);
            transform: translateX(614px);
        }

        .main-site-warp.push-side .site-menu-warp {
            left: 0;
        }

        .main-site-warp.push-side .nav-switch {
            opacity: 0;
            visibility: hidden;
        }

body.push-side {
    overflow: hidden;
}

    body.push-side .nicescroll-rails.nicescroll-rails-hr,
    body.push-side #ascrail2000-hr {
        -webkit-transform: translateX(614px);
        transform: translateX(614px);
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
    }

.site-menu-warp {
    position: fixed;
    width: 614px;
    height: 100%;
    left: -620px;
    top: 0;
    background: #242424;
    overflow-y: auto;
    z-index: 9999;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.close-menu {
    font-size: 30px;
    color: #fff;
    margin-left: 48px;
    padding-top: 32px;
    cursor: pointer;
}

.site-menu {
    list-style: none;
    padding-left: 185px;
    padding-top: 60px;
}

    .site-menu li {
        display: block;
    }

        .site-menu li a {
            display: block;
            font-size: 30px;
            color: #fff;
            padding-bottom: 5px;
            margin-bottom: 20px;
            position: relative;
        }

            .site-menu li a:after {
                position: absolute;
                content: "";
                width: 0;
                height: 3px;
                left: 0;
                bottom: 0;
                background: #fff;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }

            .site-menu li a:hover:after,
            .site-menu li a.active:after {
                width: 30px;
            }

.menu-social {
    padding-left: 185px;
    padding-top: 50px;
}

    .menu-social a {
        display: inline-block;
        color: #fff;
        font-size: 18px;
        margin-right: 30px;
        padding: 5px;
        margin-bottom: 20px;
    }

/* Header section */

.header-section {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 27px 45px;
    z-index: 999;
    background: #fff;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.nav-switch {
    float: left;
    font-size: 28px;
    color: #4e4e4e;
    line-height: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.header-social {
    float: right;
}

    .header-social a {
        display: inline-block;
        color: #242424;
        font-size: 18px;
        margin-right: 30px;
        padding: 5px;
    }

.site-content-warp {
    position: relative;
    height: 100%;
    padding-top: 91px;
    padding-left: 614px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

/* Left Side section */

.main-sidebar {
    position: absolute;
    width: 614px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 99;
}

    .main-sidebar .mb-warp {
        padding: 151px 95px 100px 145px;
    }

.site-logo {
    display: block;
    margin-bottom: 80px;
}

    .site-logo h2 {
        font-size: 110px;
        line-height: 100px;
        text-transform: uppercase;
        font-weight: 200;
        letter-spacing: 18px;
    }

    .site-logo p {
        font-size: 12px;
        text-transform: uppercase;
        color: #aaaaaa;
        letter-spacing: 12px;
        padding-left: 10px;
        margin-bottom: 0;
    }

.about-info {
    margin-bottom: 80px;
}

    .about-info h3 {
        font-weight: 600;
        font-size: 36px;
        margin-bottom: 40px;
        line-height: 1.1;
        font-family: "Playfair Display", serif;
    }

.contact-info {
    list-style: none;
    margin-bottom: 65px;
    position: relative;
}

    .contact-info:after {
        position: absolute;
        content: "";
        width: 26px;
        height: 32px;
        left: -36px;
        top: -5px;
        background: url("../img/icons/mail.png") no-repeat;
    }

    .contact-info li {
        font-size: 14px;
        color: #aaaaaa;
        margin-bottom: 5px;
    }

        .contact-info li a {
            color: #242424;
        }

.copyright {
    font-size: 13px;
    color: rgba(130, 130, 130, 0.29);
    position: fixed;
    height: 80px;
    width: 614px;
    left: 0;
    bottom: 0;
    background: #fff;
    padding-left: 145px;
    padding-top: 20px;
}

    .copyright a {
        color: rgba(130, 130, 130, 0.29);
        text-decoration: underline;
    }

    .copyright i {
        color: rgba(204, 17, 17, 0.29);
    }

/*------------------
Hero section
 ---------------------*/

.hero-track {
    padding-bottom: 50px;
    overflow: hidden;
}

.hs-item {
    height: 750px;
    float: left;
    margin-right: 50px;
    position: relative;
}

    .hs-item:last-child {
        margin-right: 0;
    }

    .hs-item .hs-info {
        position: absolute;
        left: 28px;
        bottom: 0;
        width: 245px;
        border-top-left-radius: 0;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        /*padding: 44px 0 10px 0;*/
        padding: 33px 0 33px 16px;
        background: rgba(255, 255, 255, 0.5);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .hs-item:hover .hs-info {
        opacity: 1;
    }

        .hs-item:hover .hs-info h5,
        .hs-item:hover .hs-info p {
            opacity: 1;
        }

    .hs-item .hs-info p {
        margin-bottom: 5px;
    }

.nicescroll-rails.nicescroll-rails-hr,
#ascrail2000-hr {
    max-width: calc(100% - 717px);
    overflow: hidden;
}

/* --------------
 =================
Other pages
 =================
 -----------------*/

.page-section {
    height: 100%;
}

/* ----------------
About Page
 ---------------------*/

.about-section {
    height: 100%;
    padding-right: 74px;
}

.video-section {
    height: calc(100% - 235px);
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.video-play-btn {
    display: block;
    width: 159px;
    height: 69px;
    text-align: center;
    padding-top: 16px;
    font-size: 22px;
    color: #fff;
    border-radius: 27px;
    background: rgba(255, 255, 255, 0.43);
}

    .video-play-btn:hover {
        color: #fff;
    }

.milestones {
    padding-top: 30px;
}

.milestone {
    margin-bottom: 30px;
}

    .milestone h2 {
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 72px;
        float: left;
        margin-right: 15px;
        line-height: 1;
    }

    .milestone .milestone-info {
        overflow: hidden;
        padding-top: 23px;
    }

        .milestone .milestone-info h5 {
            font-weight: 700;
        }

        .milestone .milestone-info p {
            margin-bottom: 0;
        }

/* ----------------
Blog page
 ---------------------*/

.blog-page {
    padding-right: 70px;
}

.blog-posts {
    height: 100%;
}

.blog-post-item {
    margin-bottom: 20px;
}

    .blog-post-item:last-child {
        margin-bottom: 80px;
    }

.blog-thumb {
    height: 566px;
}

.post-date {
    background: #fff;
    width: 138px;
    height: 84px;
    padding-top: 5px;
    padding-left: 10px;
    overflow: hidden;
}

    .post-date h3 {
        float: left;
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 48px;
        margin-right: 15px;
    }

    .post-date p {
        padding-top: 17px;
        line-height: 1.4;
    }

.blog-content {
    width: calc(100% - 138px);
    background: #fff;
    padding: 55px 58px;
    margin-top: -133px;
    margin-left: 62px;
}

    .blog-content h2 a {
        color: #242424;
    }

.blog-metas {
    padding-top: 15px;
    margin-bottom: 30px;
}

    .blog-metas .blog-meta {
        display: inline-block;
        position: relative;
        font-size: 13px;
        padding-right: 20px;
        margin-right: 22px;
        margin-bottom: 10px;
    }

        .blog-metas .blog-meta:after {
            position: absolute;
            content: "|";
            font-size: 13px;
            color: #828282;
            right: 0;
            top: 0;
        }

        .blog-metas .blog-meta:last-child {
            padding-right: 0;
            margin-right: 0;
        }

            .blog-metas .blog-meta:last-child:after {
                display: none;
            }

.blog-comments {
    padding-top: 60px;
}

    .blog-comments h4 {
        margin-bottom: 40px;
    }

.comments-list {
    list-style: none;
}

    .comments-list li {
        display: block;
        margin-bottom: 43px;
    }

    .comments-list .blog-avator {
        float: left;
        margin-right: 44px;
    }

        .comments-list .blog-avator img {
            width: 67px;
            height: 67px;
            border-radius: 50%;
        }

    .comments-list .comment-text {
        overflow: hidden;
    }

        .comments-list .comment-text h6 {
            font-weight: 600;
        }

        .comments-list .comment-text span {
            font-size: 13px;
            color: #828282;
        }

        .comments-list .comment-text p {
            padding-top: 10px;
            margin-bottom: 10px;
        }

        .comments-list .comment-text a {
            font-size: 13px;
            color: #242424;
            text-decoration: underline;
        }

/* ----------------
Portfolio page
 ---------------------*/

.portfolio-section {
    padding-right: 30px;
    margin-left: -3px;
    height: 100%;
}

.portfolio-item {
    position: relative;
    padding: 0 3px;
    margin-bottom: 41px;
}

    .portfolio-item img {
        min-width: 100%;
    }

    .portfolio-item .pi-info {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 221px;
        padding: 44px 0 10px 0;
        background: #fff;
        z-index: 1;
    }

        .portfolio-item .pi-info p {
            margin-bottom: 5px;
        }

        .portfolio-item .pi-info img {
            min-width: auto;
        }

/* ----------------
Contact page
 -------------------*/

.contact-section {
    height: 100%;
    padding-right: 70px;
}

    .contact-section .row {
        height: 100%;
    }

.map {
    height: calc(100% - 60px);
    background: #ddd;
    position: relative;
}

    .map iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

.contact-text-warp {
    padding-left: 15px;
}

.contact-text {
    max-width: 570px;
    margin-bottom: 50px;
    padding-top: 80px;
}

    .contact-text h2 {
        margin-bottom: 20px;
    }

.contact-form {
    padding-bottom: 50px;
}

    .contact-form input,
    .contact-form textarea {
        width: 100%;
        height: 56px;
        padding: 0 22px;
        margin-bottom: 30px;
        font-size: 14px;
        font-style: italic;
        border: 2px solid #e1e1e1;
    }

    .contact-form textarea {
        height: 159px;
        padding: 20px 22px 10px;
        resize: none;
        margin-bottom: 45px;
    }

/* ----------------
Responsive
 ---------------------*/

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .main-sidebar,
    .copyright {
        width: 450px;
    }

    .copyright {
        padding-left: 30px;
    }

    .site-content-warp {
        padding-left: 450px;
    }

    .main-sidebar .mb-warp {
        padding: 110px 40px 91px 50px;
    }

    .portfolio-item .pi-info {
        padding: 15px 0 10px 0;
    }

    .milestone h2,
    .circle-progress {
        float: none;
    }

    .nicescroll-rails.nicescroll-rails-hr,
    #ascrail2000-hr {
        max-width: calc(100% - 550px);
    }
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-sidebar,
    .copyright {
        width: 350px;
    }

    .copyright {
        padding-left: 30px;
    }

    .site-logo h2 {
        font-size: 70px;
        line-height: 70px;
    }

    .site-logo p {
        font-size: 10px;
        letter-spacing: 8px;
        padding-left: 9px;
    }

    .site-content-warp {
        padding-left: 350px;
    }

    .main-sidebar .mb-warp {
        padding: 110px 30px 91px 50px;
    }

    .about-info h2 {
        font-size: 36px;
    }

    .portfolio-section {
        padding-bottom: 80px;
        padding-left: 1px;
    }

    .portfolio-item .pi-info {
        padding: 15px 0 10px 0;
    }

    .milestone h2 {
        float: none;
    }

    .map {
        height: 600px;
    }

    .elements-section {
        padding-right: 15px;
    }

    .nicescroll-rails.nicescroll-rails-hr,
    #ascrail2000-hr {
        max-width: calc(100% - 450px);
    }
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .site-content-warp {
        padding-left: 0;
        height: auto;
    }

    .site-menu {
        padding-top: 80px;
    }

    .main-sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

    .video-section {
        height: 400px;
    }

    .about-section,
    .blog-page,
    .portfolio-section,
    .contact-section,
    .elements-section {
        padding: 0 15px;
        margin: 0;
    }

    .blog-post-item:last-child {
        margin-bottom: 0;
    }

    .contact-text-warp {
        padding-left: 0;
    }

    .map {
        height: 600px;
    }

    .copyright {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 60px 15px 50px;
        text-align: center;
        width: 100%;
    }

    .nicescroll-rails.nicescroll-rails-hr,
    #ascrail2000-hr {
        max-width: calc(100% - 50px);
    }
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
    .site-content-warp {
        padding-left: 0;
        height: auto;
    }

    .site-logo {
        margin-bottom: 50px;
    }

        .site-logo h2 {
            font-size: 70px;
            line-height: 70px;
        }

        .site-logo p {
            font-size: 10px;
            letter-spacing: 8px;
            padding-left: 9px;
        }

    .site-menu-warp {
        width: 100%;
        height: 100%;
        left: -100%;
    }

    .site-menu {
        padding: 40px 15px;
        max-width: 400px;
        margin: 0 auto;
    }

        .site-menu li a {
            font-size: 25px;
            margin-bottom: 10px;
        }

    .menu-social {
        padding: 0 15px;
        max-width: 400px;
        margin: 0 auto;
    }

    .main-sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }

        .main-sidebar .mb-warp {
            padding: 100px 15px;
            padding-left: 50px;
            max-width: 420px;
            margin: 0 auto;
        }

    .hs-item {
        width: 100%;
        height: 600px;
    }

        .hs-item .hs-info {
            padding-left: 15px;
        }

            .hs-item .hs-info img {
                width: auto;
            }

    .video-section {
        height: 400px;
    }

    .about-section,
    .blog-page,
    .portfolio-section,
    .contact-section,
    .elements-section {
        padding: 0 15px;
        margin: 0;
    }

    .blog-post-item:last-child {
        margin-bottom: 0;
    }

    .contact-text-warp {
        padding-left: 0;
    }

    .map {
        height: 600px;
    }

    .copyright {
        position: relative;
        left: 0;
        bottom: 0;
        padding: 60px 15px 50px;
        text-align: center;
        width: 100%;
    }

    .nicescroll-rails.nicescroll-rails-hr,
    #ascrail2000-hr {
        max-width: calc(100% - 50px);
    }

    .blog-content {
        width: calc(100% - 30px);
        margin-left: 15px;
    }

    .hero-track .owl-nav {
        padding-top: 30px;
        text-align: center;
    }

        .hero-track .owl-nav button.owl-next,
        .hero-track .owl-nav button.owl-prev {
            width: 30px;
            height: 30px;
            color: #fff;
            text-align: center;
            border-radius: 50%;
            background: #242424;
            margin: 0 5px;
        }
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
    .site-logo {
        margin-bottom: 50px;
    }

        .site-logo h2 {
            font-size: 60px;
            line-height: 70px;
        }

        .site-logo p {
            font-size: 10px;
            letter-spacing: 7px;
            padding-left: 9px;
        }

    .header-social {
        display: none;
    }

    .site-menu li a {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .about-info h2 {
        font-size: 34px;
    }

    .blog-content {
        width: calc(100% - 10px);
        margin-left: 5px;
        padding: 40px 15px;
    }

    .comments-list .blog-avator {
        float: none;
        margin-bottom: 30px;
    }

    .portfolio-item .pi-info {
        width: 170px;
        padding: 15px 0 5px 0;
    }

    .menu-social a {
        margin-right: 15px;
    }
}
