@model ProfileViewModel

@{
	ViewData["Title"] = "Profile Setup";
}

<div class="site-content-warp" style="padding-left: 0">
	<div class="page-section">
		<div class="row">
			<h1 class="text-center" style="font-family:'Playfair Display';">@ViewBag.Title</h1>
			<p></p>
			<p></p>
			<div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
				<form method="post" enctype="multipart/form-data">
					<partial name="_ProfileLoginPartial" />
					<div class="mb-3">
						<input class="btn mb-2 w-100 p-3 fw-bold" type="submit" style="background-color: #d8c269" value="CONFIRM" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {

	<partial name="_ValidationScriptsPartial" />
}