﻿@{
	ViewData["Title"] = "Home";
}

<body>
	<div class="container">
		<div class="site-content-warp">
			<!-- Left Side section -->
			<partial name="_SideBarPartial" />
			<!-- Left Side section end -->
			<!-- Page start -->
			<div class="page-section">
				<div class="hero-section">
					<div class="hero-scroll">
						<div class="hero-track">
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/0.jpg">
								<div class="hs-info">
									<h5>Buddhist Pine</h5>
									<p>Podocarpus Macrophyllus</p>
									<a href="#" class="favorite-btn"><img src="~/img/icons/heart-outline.png" alt="~/img/icons/heart-filled.png"></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/1.jpg">
								<div class="hs-info">
									<h5>Snake Plant</h5>
									<p>Dracaena Trifasciata</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/2.jpg">
								<div class="hs-info">
									<h5>Cherry Laurel Novita</h5>
									<p>Prunus Laurocerasus Novita</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingplants/3.jpg">
								<div class="hs-info">
									<h5>Vanuatu Fan Palm</h5>
									<p>Licuala grandis</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/4.jpg">
								<div class="hs-info">
									<h5>Peruvian apple cactus</h5>
									<p>Cereus Peruvianus</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/5.jpg">
								<div class="hs-info">
									<h5>Boston Fern</h5>
									<p>Nephrolepis exaltata</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/6.jpg">
								<div class="hs-info">
									<h5>Kentia Palm</h5>
									<p>Howea forsteriana</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/7.jpg">
								<div class="hs-info">
									<h5>Zanzibar Gem</h5>
									<p>Zamioculcas</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/8.jpg">
								<div class="hs-info">
									<h5>Swiss cheese plant</h5>
									<p>Monstera minima</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
							<div class="hs-item set-bg" data-setbg="img/trendingPlants/9.jpg">
								<div class="hs-info">
									<h5>Heart of Jesus</h5>
									<p>Caladium Bicolour</p>
									<a href="#"><img src="~/img/icons/heart-outline.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Page end -->
		</div>
	</div>
	<!-- Main section end -->
</body>