@model IEnumerable<PlantHomeViewModel>
@{
	ViewData["Title"] = "Home";
}

<div class="container">
	<div class="site-content-warp">
		<partial name="_SideBarPartial" />
		<div class="page-section">
			<div class="hero-section">
				<div class="hero-scroll">
					<div class="hero-track">
						@foreach (var plant in Model)
						{
							<div class="hs-item set-bg" data-setbg="@plant.ImageUrl">
								<div class="hs-info">
									<h5>@plant.Name</h5>
									<p>@plant.ScientificName</p>
									<a href="LikeButton" class="favorite-btn"><img src="~/img/icons/heart-outline.png"></a>
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$(document).on('click', '.favorite-btn', function () {
			$(this).toggleClass('clicked');
			var $img = $(this).find('img');
			if ($(this).hasClass('clicked')) {
				$img.attr('src', '/img/icons/heart-filled.png');
			} else {
				$img.attr('src', '/img/icons/heart-outline.png');
			}

			var isLiked = !$button.hasClass('clicked');
		});

		$.ajax({
			url: '/Home/LikeButton',
			method: 'POST',
			data: { id: 1, isLiked: isLiked },
		});
	</script>
}